body{
  background-color:rgb(245,245,245);
}

.header{ /*header box */

  position:relative;
  width:100%;
  background-color:#0a192f;
  height:10%;
  padding-top: 1%;
  padding-bottom: 1%;
}
#icon{
  float: left;

}
#title{ /*title in header */
  padding:5%;
  color: white	;
  padding-left: 3%;
  font-size: 30px;
}
#title:hover{
  color: #52a39e;
  cursor: pointer;
}
.textbox,.btns{ /* input and output boxes along with encrypt and decrypt buttons */
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:2%;
  border:none;
  width:50%;
  font-size:20px;
}

.btns{ /* encrypt/decrypt buttons */
  margin-bottom:2%;
  background-color: #52a39e;
  font-size:25px;
  color:white;


}
.btns:hover{ /* hover over encrypt/decrypt buttons */
  background-color: #0a192f;

}
.footer { /* footer section */
   position: fixed;
   left: 0;
   top: auto;
   bottom: 0;
   width: 100%;
   background-color: #DCDCDC	;
   color: white;
   padding-left:2%;

}
#gh{ /* github icon */
  width:50px;
  height:50px;
}
#gh:hover{
  background-color:#52a39e;
}
#num{
  margin-left: 50%;
  border-top: 2%;
  color: #52a39e;
  margin-bottom: 10%;
  visibility: hidden;
}
.change{
  background: none;
  border: none;
  font-size: 24px;
  margin-bottom: 5px;
  color: #52a39e;
}
.change:hover{
  color: navy;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
#selector{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
  width:50%;
  top: 14px;
  right: 10px;
  background-color: #52a39e;
  border: none;
  font-size: 20px;
  color: white;
}
#selector:hover{
  background-color: #0a192f;
}

}
